<div class="mb-5 mt-5">
  <label for="exampleFormControlInput1" class="form-label"
    >Server address</label
  >
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="name@example.com"
    (input)="onUpdateServerName($event)"
  />
  <button
    type="button"
    [disabled]="alowServer"
    class="btn btn-primary mt-3"
    (click)="onCreateServer()"
  >
    Add server
  </button>
  <br />
  <app-server
    *ngFor="let server of servers; let i = index"
    [serverName]="server"
  ></app-server>
  <!-- <p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
  <ng-template #noServer>
    <p>No server was created!</p>
  </ng-template> -->
</div>
